html {
  /* overflow: hidden; */
}

body, html { 
  height: 90%;
  padding: 0px; 
}

body {
  background-color: #444;
  background-image: -moz-linear-gradient(top center, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0) 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, rgba(0,0,0,0.4)), color-stop(0.50, rgba(0,0,0,0)));
  background-repeat: no-repeat;
  margin: auto;
  /* overflow:scroll; */
}

img, video {
  vertical-align: middle;
}

header {
  display:table-row;
}


nav > ul {
  list-style: none;
  padding-left: 1em;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s, 0.3s;
}

nav > ul > li.external:before {
  content: "→ ";
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s, 0.3s;
}

nav > ul > li.internal:before {
  content: "+ ";
  text-size: 1.2em;
}

nav > ul > li {
  padding-left:0px;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s, 0.3s;
}

nav > ul:hover > li {
  opacity: 0.3;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s, 0.3s;
}

nav > ul:hover > li:hover {
  opacity: 1;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s, 0.3s;
  cursor: pointer;
}

a {
  color: #333333;
  text-decoration: none;
  border-bottom: dotted 1px #222222;
  font-weight: 600;
}

#content > section {
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s, 0.5s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s, 0.5s;
  opacity: 0;
  display: table-cell;
}

#content > section[selected=true] {
  opacity:1;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s, 0.5s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s, 0.5s;
  display: table-cell;
}

div#wrapper {
  -moz-border-radius: 12px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background: #888 -moz-linear-gradient( center top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.0) 25%, rgba(0,0,0,0.0) 60%, rgba(0,0,0,0.3) 99%);
  background: #888 -webkit-gradient( linear, left top, left bottom, color-stop(0.0, rgba(255,255,255,0.2)), color-stop(0.25, rgba(255,255,255,0.0)), color-stop(0.60, rgba(0,0,0,0.0)), color-stop(0.99, rgba(0,0,0,0.2)));
  border : 2px black solid;
  border-radius:10px;
  box-shadow: 2px 2px 5px black;  
  color: #333333;
  font-family: 'Droid Sans', Helvetica, Nimbus Sans L;
  margin: 2em auto;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  text-shadow: 0em 0.05em 0.05em  darkgray;
  width: 60em;
}

header {
  width: 10%;
  display: table-cell;
  text-align:right;
  text-shadow: 2px 2px 1px #555555;
  color: #333333;
}

nav {
  display: table-cell;
}

div#content {
  display: table;
  width: 60em;
}

footer {
  text-align:right;
}

span.email {
  font-family: 'Droid Sans Mono', Courier, monospace;
  color: #111111;
  /* Ninja trick to prevent spamming */
  direction: rtl;
  unicode-bidi: bidi-override;
}
